node_modules
**/node_modules
npm-debug.log
.next
**/.next
out
coverage
**/coverage
*.tsbuildinfo
playwright-report
test-results
.env.local
.env.*.local
*.log
.DS_Store
.git
.github
*.md
!.env.example
